defaults
    mode http
    log global
    retries 3
    timeout connect 30s
    timeout http-request 60s
    timeout queue 60s
    timeout tunnel 1h
    timeout client 60s
    timeout server 60s
    timeout tarpit 60s
    option redispatch
    option abortonclose
    option http-keep-alive
    option httplog
    default-server init-addr libc,none
    default-server resolvers docker
    # option dontlognull
    option contstats
    errorfile 200 /usr/local/etc/haproxy/200.http
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http
    compression algo gzip
    compression type text/html text/plain text/javascript application/javascript application/xml text/css
