<html>
  <body>
    <p>Thanks for joining <a href="http://vie.gg/">VIE.GG</a>, your journey starts here!</p>
    <p>We're sure you'll love playing with VIE.GG. If you have any questions, please feel free to drop our customer service team an email at help@vie.gg or join us on live chat!</p>
    <p>We also advise you to set strong authentication on your account. We have outlined how to do this below from your account profile.</p>
    <ul>
        <li>Enter your profile section once logged into your <a href="http://vie.gg/">VIE.GG</a> account.</li>
        <li>Click on Security</li>
        <li>Click on Multi Factor Authentication</li>
        <li>Finally, click the toggle to turn this on</li>
    </ul>
    <p><a href="http://vie.gg/">VIE.GG</a> Team</p>
  </body>
</html>
