<html lang="en">
  <body>
    <p>Dear customer,</p>
    <p>You've just signed-in to your account.</p>
    <p>Sign-in date: {{signInDate}}</p>
    <p>If you don't recognize this sign-in, we recommend that you change your password immediately or contact Customer Services for further assistance.</p>
  </body>
</html>