### INTERNAL
JSON_LOGGING =

# Play!
APPLICATION_SECRET =

# SERVICES
SERVICE_EVENT_SN_URL =
SERVICE_EVENT_RZ_URL =

# ENCRYPTION
ENCRYPT_USER_SEED =

### EXTERNAL

# Reward Matrix
RMX_CLIENT_ID =
RMX_CLIENT_PASSWORD =
RMX_USER =
RMX_PASSWORD =

# ATR
ATR_ENABLED =

SMS_API_OPERATOR =
SMS_API_PARTNER =
SMS_API_PASSWORD =
SMS_API_SEED =

# RMG
RMG_ENABLED =
CSB_API_DESKTOP_PARTNER =
CSB_API_DESKTOP_PARTNER_ID =
CSB_API_DESKTOP_SEED =

CSB_API_MOBILE_PARTNER =
CSB_API_MOBILE_PARTNER_ID =
CSB_API_MOBILE_SEED =

# SIS
SIS_ENABLED =

SIS_API_CUSTOMER =
SIS_API_SEED =

# SBTECH
BETS_ENABLED =

ODDS_API_OPERATOR =

DATA_API_AGENT =
DATA_API_PASSWORD =
