cloudflow {
  streamlets {
    oddin-ingestor {
      config-parameters {
        oddin-access-token = "[changeme]"
        oddin-rest-endpoint = "https://api-mq.integration.oddin.gg"
      }
      config {
        akka.loglevel = "INFO"
      }
    }
  }
}