# Note that the rules in CODEOWNERS are NOT additive -
# for any given file, only the latest matching rule (and not all matching rules) applies.

# Lowest priority rule - let's assign YAML files to our designated YAML engineer unless there's a better match for the specific location!

*.yaml                       @PawelLipski
*.yml                        @PawelLipski


# Lower priority rules - for entire directories and wide file globs

/.*                          @PawelLipski
/ci/                         @PawelLipski
/deploy/                     @PawelLipski @eesik
/deploy/helm/phoenix-elastic @PawelLipski @eesik @sebtom
/dev/                        @PawelLipski @MarconZet
*.env                        @PawelLipski
/k8s-operations/             @PawelLipski
*.md                         @PawelLipski
/project/                    @PawelLipski
*.sbt                        @PawelLipski
/scalafix/rules/             @PawelLipski @migmit
*.sh                         @PawelLipski
testcontainers/              @PawelLipski @MarconZet


# Highest priority rules - for specific files, without globs or with a narrow glob

application-base.conf                  @PawelLipski
application-k8s.conf                   @PawelLipski
archunit.properties                    @PawelLipski
*ArchUnitSpec.scala                    @PawelLipski
ConfigsSpec.scala                      @PawelLipski
/contract-tests/**/*.conf              @PawelLipski
deployment.conf                        @PawelLipski
/dev/prepare_release_pr.sh             @gianick @PawelLipski
http-cors.conf                         @PawelLipski
Jenkinsfile*                           @PawelLipski
kamon.conf                             @PawelLipski
keycloak.conf                          @PawelLipski
/k8s-operations/sign_up_user*.sh       @gianick @PawelLipski
logback*.xml                           @PawelLipski
openapi.conf                           @PawelLipski
SlickSchemasSpec.scala                 @PawelLipski
VERSION.txt                            @PawelLipski
