<html lang="en">
  <body>
    <p>Dear customer,</p>
    <p>Your cheque withdrawal request of ${{amount}} has been accepted.</p>
    <p>In case of any issues, please contact Customer Services for further assistance.</p>
  </body>
</html>