<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align: center;">Type</th>
            <th style="text-align: center;">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for line_type in line_types %}
            <tr>
                <td style="width:50px; text-align: center">
                    <code style="padding: 2px; border: 1px solid #777; background-color: #f8f8f8; border-radius: 5px">{{ line_type.symbol }}</code>
                </td>
                <td style="width:350px; text-align: left">
                    <code>{{ line_type.description }}</code>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
