global
    tune.ssl.default-dh-param 2048
    stats socket /haproxy.sock mode 0600 level admin
    log /dev/log local0 debug

defaults
    mode http
    log global
    retries 3
    timeout connect 30s
    timeout http-request 60s
    timeout queue 60s
    timeout tunnel 1h
    timeout client 60s
    timeout server 60s
    timeout tarpit 60s
    option forwardfor except 127.0.0.0/8
    option redispatch
    option abortonclose
    option http-keep-alive
    option httplog
    # option dontlognull
    option forwardfor
    option contstats
    errorfile 200 /usr/local/etc/haproxy/200.http
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http
    compression algo gzip
    compression type text/html text/plain text/javascript application/javascript application/xml text/css

backend gstech-walletserver
    server app1 gstech-walletserver:3003 check inter 20000 fall 2 rise 1
    http-request set-header X-Client-IP %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header Host wallet.luckydino.com
    option httpchk GET /api/v1/status HTTP/1.0\r\n

backend gstech-paymentserver
    server app1 gstech-paymentserver:3006 check inter 20000 fall 2 rise 1
    http-request set-header X-Client-IP %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header Host papi.luckydino.com
    option httpchk GET /api/v1/status HTTP/1.0\r\n

backend gstech-backend
    server app1 gstech-backend:3001 check inter 20000 fall 2 rise 1
    http-request set-header X-Client-IP %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header Host idefix.luckydino.com
    option httpchk GET /api/v1/status HTTP/1.0\r\n
    timeout server 90s

backend lotto-backend
    server app1 lotto-backend:3020 check inter 20000 fall 2 rise 1
    http-request set-header X-Client-IP %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header Host wallet.luckydino.com
    option httpchk GET /api/v1/status HTTP/1.0\r\n
    timeout server 90s

backend lotto-client
    server app1 lotto-client:3030
    http-request set-header X-Client-IP %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header Host games.luckydino.com

backend gstech-backend-websocket
    server app1 gstech-backend:3001 check inter 20000 fall 2 rise 1
    http-request set-header X-Client-IP %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header Host idefix.luckydino.com
    option httpchk GET /api/v1/status HTTP/1.0\r\n
    option forwardfor
    option http-server-close
    option forceclose
    no option httpclose
    timeout server 86400000

backend gstech-backoffice
    server app1 gstech-backoffice:5000 check inter 20000 fall 2 rise 1
    http-request set-header X-Client-IP %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header Host idefix.luckydino.com
    option httpchk GET / HTTP/1.0\r\n

backend gstech-staging
    server app1 beta-wallet2.luckydino.com:443 weight 1 maxconn 100 ssl verify none
    http-request set-header Host beta-wallet.luckydino.com

backend metabase
    server app1 metabase:3000
    http-request set-header X-Client-IP %[src]
    http-request set-header X-Forwarded-Proto https
    http-request set-header Host idefix.luckydino.com
    timeout server 90s

frontend loadbalancer:3000
    bind *:3000
    maxconn 5000
    redirect scheme https code 301
    monitor-uri /api/status/up

frontend loadbalancer-https:3001
    capture request header Host len 64
    log-format %ci:%cp\ %hr\ [%t]\ %f\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ {%hsl}\ %{+Q}r
    bind *:3001 ssl crt /run/secrets/luckydino.com-2022.pem ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DS no-sslv3
    maxconn 50000

    acl staging_walletserver hdr(host) -i beta-wallet.luckydino.com
    acl bit8_staging_router hdr_dom(host) -i staging_bit8_multibrand_router.luckydino.com
    acl bit8_staging_router_cj hdr_dom(host) -i staging_bit8_multibrand_router.casinojefe.com
    acl bit8_staging_router_kk hdr_dom(host) -i staging_bit8_multibrand_router.kalevalakasino.com
    acl staging_bit8_multibrand_router hdr_dom(host) -i staging_bit8_multibrand_router.luckydino.com
    acl staging_bit8_cw_service hdr_dom(host) -i staging_bit8_cw_service.luckydino.com
    acl staging_bit8_cw_service_cj hdr_dom(host) -i staging_bit8_cw_service.casinojefe.com
    acl staging_bit8_cw_service_kk hdr_dom(host) -i staging_bit8_cw_service.kalevalakasino.com

    acl paymentserver hdr_dom(host) -i papi.luckydino.com papi.luckydino.com:443
    acl private_api hdr(host) -i binder.luckydino.com
    acl walletserver hdr_dom(host) -i wallet.luckydino.com wallet.luckydino.com:443
    acl lottowarehouse-api url_beg /api/v1/lottowarehouse
    acl lotto-api url_beg /api/v1/lottobackend
    acl games hdr_dom(host) -i games.luckydino.com


    acl bit8_router hdr_dom(host) -i bit8_multibrand_router.luckydino.com
    acl bit8_router_cj hdr_dom(host) -i bit8_multibrand_router.casinojefe.com
    acl bit8_router_kk hdr_dom(host) -i bit8_multibrand_router.kalevalakasino.com
    acl bit8_multibrand_router hdr_dom(host) -i bit8_multibrand_router.luckydino.com
    acl bit8_cw_service hdr_dom(host) -i bit8_cw_service.luckydino.com
    acl bit8_cw_service_cj hdr_dom(host) -i bit8_cw_service.casinojefe.com
    acl bit8_cw_service_kk hdr_dom(host) -i bit8_cw_service.kalevalakasino.com
    acl bit8_router_service.luckydino.com hdr_dom(host) -i bit8_router_service.luckydino.com
    acl bit8_wallet url_beg /bit8_wcf_router.svc

    use_backend gstech-staging if bit8_staging_router or staging_walletserver or staging_bit8_multibrand_router or staging_bit8_cw_service or staging_bit8_cw_service_cj or staging_bit8_cw_service_kk or bit8_staging_router_kk or bit8_staging_router_cj

    use_backend lotto-backend if lottowarehouse-api walletserver
    use_backend lotto-backend if lotto-api games
    use_backend lotto-client if games

    use_backend gstech-walletserver if bit8_router or walletserver or bit8_multibrand_router or bit8_cw_service or bit8_cw_service_cj or bit8_cw_service_kk or bit8_router_kk or bit8_router_cj or bit8_router_service.luckydino.com or bit8_wallet

    use_backend gstech-backend if private_api
    use_backend gstech-paymentserver if paymentserver
    monitor-uri /api/status/up

frontend loadbalancer:3010
    bind *:3010
    maxconn 5000
    redirect scheme https code 301
    monitor-uri /api/status/up

frontend loadbalancer-https:3011
    bind *:3011 ssl crt /run/secrets/luckydino.com-2022.pem ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DS no-sslv3
    maxconn 50000
    timeout client 1h
    acl is_websocket hdr(Upgrade) -i WebSocket
    acl idefix-api url_beg /api/
    acl metabase-reporting hdr(host) -i reporting.luckydino.com
    acl socketio-api url_beg /socket.io/
    use_backend metabase if metabase-reporting
    use_backend gstech-backend-websocket if is_websocket or socketio-api
    use_backend gstech-backend if idefix-api
    use_backend gstech-backoffice if !idefix-api
    monitor-uri /api/status/up

listen stats
  bind :9002
  stats enable
  stats hide-version
  stats uri /
  stats realm HAProxy
  stats auth admin:JeesusVilena
  stats admin if TRUE
  stats show-legends
