.i-c-ev-fast-market{
  background-image:url('/img/43369');
}
html.IsDesktop .lbetting-tab:hover .i-c-ev-fast-market{
  background-image:url('/img/43371');
}

.sports-list-item .sports-list-item-icon-active .sports-list-favourite-add.selected .i-o-fav{
  background-image:url('/img/43541');
}

.sports-list-item .sports-list-item-icon-active .i-o-fav{
  background-image:url('/img/43545');
  opacity:1;
}

.sports-list-item .sports-list-item-icon-active .i-o-fav:hover{
  background-image:url('/img/43543');
}

.i-c-search{
  background-image:url("/img/44367");
}

.IsDesktop .event-view .tooltip-icon-holder {
    transform: none;
    top: 0px;
  }
