ODDIN_ACCESS_TOKEN=xxx
ODDIN_NODE_ID=xxx

PHOENIX_MARKET_TYPES_DISPLAYED_TO_PUNTERS="MATCH_WINNER, MAP_WINNER"
PHOENIX_SPORTS_DISPLAYED_TO_PUNTERS_BY_DEFAULT="s1, s2, s3, s10, s11, s12, s13, s15, s16"

GEOCOMPLY_LICENSE_BASE_URL=xxx
GEOCOMPLY_API_KEY=xxx
GEOCOMPLY_DECRYPTION_INITIALIZATION_VECTOR=xxx
GEOCOMPLY_DECRYPTION_KEY=xxx
GEOCOMPLY_SECRET_KEY=xxx
