.ffbasic(@name, @fallback, @font-size) {
  font-family: @name,@fallback;
  font-weight: normal;
  font-size: @font-size;
}

.ffheader(@name, @fallback) {
  font-family: @name,@fallback;
  font-weight: normal;
}

/*custom-fonts*/
@font-face{ 
	font-family: 'Panton-Regular';
	src: url('fonts/panton-regular.eot');
	src: url('fonts/panton-regular.eot?#iefix') format('embedded-opentype'),url('fonts/panton-regular.woff2') format('woff2'),url('fonts/panton-regular.woff') format('woff'),url('fonts/panton-regular.ttf') format('truetype'),url('fonts/panton-regular.svg#wf') format('svg');
 }