.header_noHeader(){
  .page-banner,.infoboxcontainer, footer{
    display:none;
  }
  
}

.header_logoWithTextCentered(){
  .page-banner{

    .pageHeader{
      display:block;
      text-align:center;
      position:relative;
      div.customerLogo{
        display:block;
        width:auto;
        margin-left:auto;
        margin-right:auto;
        text-align:center;

        img{
          width:auto;
          max-width:100%;
          height:auto;
          max-height:60px;
        }
      }
      h1{
        display:block;
        width:auto;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
      }

    }
  }
}

.header_logoNoTextCentered(){
  .page-banner{

    .pageHeader{
      display:block;
      text-align:center;
      position:relative;
      div.customerLogo{
        display:block;
        width:auto;
        margin-left:auto;
        margin-right:auto;
        text-align:center;

        img{
          width:auto;
          max-width:100%;
          height:auto;
          max-height:60px;
        }
      }
      h1{
        display:none;
        width:auto;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
      }

    }
  }
}

.header_logoWithTextLeft(){
  .page-banner{

    .pageHeader{
      display:block;
      text-align:center;
      position:relative;
      height: auto;
      overflow:hidden;
      div.customerLogo{
        display:block;
        padding-right:1em;
        float:left;
        width:auto;
        img{
          width:auto;
          max-width:100%;
          height:auto;
          max-height:80px;
        }
      }
      h1{
        display: block;
        float:left;
        width:auto;
      }

    }
  }
}

.header_logoNoTextLeft(){
  .page-banner{

    .pageHeader{
      display:block;
      text-align:center;
      position:relative;
      height: auto;
      overflow:hidden;
      div.customerLogo{
        display:block;
        padding-right:1em;
        float:left;
        width:auto;
        img{
          width:auto;
          max-width:100%;
          height:auto;
          max-height:80px;
        }
      }
      h1{
        display:none;
        float:left;
        width:auto;
      }

    }
  }
}

.header_inIframe_hideFullHeader() {
    body.iniframe {
        div.page-banner, div.infoboxcontainer{
            display: none;
        }
    }
}

.header_inIframe_showFullHeader() {
    body.iniframe {
        div.page-banner, div.infoboxcontainer{
            display: block;
        }
    }
}

.header_inIframe_hideBannerOnly() {
    body.iniframe {
        div.page-banner{
            display: none;
        }
		div.infoboxcontainer{
            display: block;
        }
    }
}

.header_inIframe_hideInfoboxOnly() {
    body.iniframe {
        div.infoboxcontainer{
            display: none;
        }
		div.page-banner{
            display: block;
        }
    }
}

.footer_inIframe_hideFooter() {
    body.iniframe {
		footer{
			height: 0px !important;
			background: transparent !important;
		}
		
        .footer-line {
            display: none;
        }
		
		.footer-iniframe{
			display: block !important;
			background: transparent !important;
			text-align: center !important;
		}
    }
}


.showIcon(@iconfont, @iconchar, @iconsize){
  font-family:@iconfont;
  speak:none;
  -webkit-font-smoothing:antialiased;
  content: @iconchar;
  font-size:@iconsize;
}

.backlinkIcon(@iconfont:'icomoon-ultimate', @iconchar:'\e1d2', @iconsize:2em, @posTopValue:1em, @posRightValue:1em ){
    .backlink {
        position:absolute;
        top:@posTopValue;
        right:@posRightValue;
        span.exitLinkText {
            display: none;
        }
    }

    .backlink span:before {
      .showIcon(@iconfont, @iconchar, 25px)
    }
}

.backlinkText(@fontsize:1em, @posTopValue:1em, @posRightValue:2em){
    .backlink span.exitLinkText {
        position:absolute;
        top:@posTopValue;
        right:@posRightValue;
        font-size: @fontsize;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        border-style: solid;
        border-width: 3px;
        padding: 0em 0.2em;
        display: block;
    }
}

.pageBanner( @pb-back:#0D522E, @ph-back:#0D522E, @font-color:#FFFFFF, @topPadOuter:1em, @bottomPadOuter:3em, @topPadInner:1em, @bottomPadInner:1em){
    .page-banner{
        background-color: @pb-back;
        padding-top: @topPadOuter;
        padding-bottom:@bottomPadOuter;
        color:@font-color;
    }
    .pageHeader{
      background-color: @ph-back;
      padding-top: @topPadInner;
      padding-bottom:@bottomPadInner;
    }

  .page-banner a{color:@font-color;}

}

.exitConfirmSlide( @float:right, @clear:both, @color:#DDDDDD){
    .page-banner #exitConfirm{float:@float; clear:@clear; text-align:right; max-width:70%; border-bottom:1px solid @color;}
}
.exitConfirmModal( @color:#222222, @width:300px, @height:300px, @position:absolute){
    .page-banner #exitConfirm{width:@width; @height: 300px; position: absolute; left: 50%; top: 50%; margin-left:calc(@width/2)px; margin-top:calc(@height/2)px; max-width:@width;}
}

.deleteConfirmSlide( @float:right, @clear:both, @color:#DDDDDD){
    .page-banner #deleteConfirm{float:@float; clear:@clear; text-align:right; max-width:70%; border-bottom:1px solid @color;}
}
.deleteConfirmModal( @color:#222222, @width:300px, @height:300px, @position:absolute){
    .page-banner #deleteConfirm{width:@width; @height: 300px; position: absolute; left: 50%; top: 50%; margin-left:calc(@width/2)px; margin-top:calc(@height/2)px; max-width:@width;}
}

.showPaymentdetailHeaders(){
    div.selectAccount h4{
        display:block;
    }
}

.hidePaymentdetailHeaders(){
    div.selectAccount h4{
        display:none;
    }
}

.hideFeesAndLimits(){
	.with-infos ul.features{
		display: none;
	}
}

.infoboxcontainer( @ic-back:transparent, @ib-back:#dddddd, @font-color:#333333, @topPadOuter:1em, @bottomPadOuter:1em, @topPadInner:1em, @bottomPadInner:1em){
  .infoboxcontainer{
    background-color: @ic-back;
    padding-top: @topPadOuter;
    padding-bottom:@bottomPadOuter;
    color:@font-color;
  }
  #infobox{
    background-color: @ib-back;
    padding-top: @topPadInner;
    padding-bottom:@bottomPadInner;
  }
}

.infobox(@pos:-40px, @padding:10px 0, @border-radius:5px, @font-size:1.3em, @font-color:#333){
  #infobox {
    margin-top: @pos;
    padding: @padding;
    .border-radius(@border-radius);
  }
  #infobox #itemRow {
    //border-bottom: 3px solid #2B475F;
    //padding-bottom: 20px;

  }
  #infobox #itemRow h2 {
    line-height: 1.3em;
    font-size:@font-size;
    .ffbasic('Roboto', 'sans-serif', 1.3em);
  }
  #infobox #itemRow h2 span#paymentAmount {
    float:right;
    display: block;
    margin-left:1em;
    font-weight:bold;
    z-index:10;

  }
  #infobox #itemRow h2 span#paymentDescription {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position:relative;
    z-index:8;
  }
  #infobox #itemRow h2 span#paymentDescription.showAll {
    display: block;
    max-width: 100%;
    overflow: visible;
    white-space: normal;
    position:relative;
  }


}

.line(  @lback:#ddd, @font-color:#666, @font-size:1.1em, @border:2px solid #bbb ){

  div.accountchoose a{text-decoration:none;}

  div.line {
    border-bottom:@border;
    display:table;
    table-layout:fixed;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
    text-align:left;
    background-color:@lback;
    color:@font-color;
    padding:0.3em;

    div.logo {
      padding-left:0.5em;
      display:table-cell;
      vertical-align:middle;
      width:80px;
    }

	span.select{
      display:table-cell;
      color:@font-color;
      vertical-align:middle;
      width:30px;
      text-align: right;
      padding-right: 0.5em;
    }

    div.identify{
      padding-left:1em;
      display:table-cell;
      vertical-align:middle;

      ul {
        margin:0;
        padding:0;
        list-style-type:none;
        width:100%;

        li{
          display:inline-block;
          margin-right:1em;
          max-width:100%;
          span.cardNumber{
              padding-right:20px;
          }
        }
      }
    }
  }
  span.cardExpiryDate{ white-space:nowrap;}
  span.deleteButton{ padding-left: 20px; white-space:nowrap;}
  div.line span.select:before{
      .showIcon('FontAwesome', '\f054', 21px);
  }
}

.lineSelected(  @lbackselected:#222, @font-color:#fff, @font-size:1.1em, @border:2px solid #bbb, @formbackground:#FFFFFF){

  div.accountchoose a{text-decoration:none;}

  div.accountchoose a.selected {
      div.line {
        border-bottom:none;
        display:table;
        table-layout:fixed;
        width:100%;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        -moz-background-clip:padding-box !important;
        -webkit-background-clip:padding-box !important;
        background-clip:padding-box !important;
        text-align:left;
        background-color:@lbackselected;  
        color:@font-color;
        padding:0.3em;

        div.logo {
          padding-left:0.5em;
          display:table-cell;
          vertical-align:middle;
          width:80px;
        }

        span.select{
          display:table-cell;
          color:@font-color;
          vertical-align:middle;
          width:30px;
          text-align: right;
          padding-right: 0.5em;
        }

        div.identify{
          padding-left:1em;
          display:table-cell;
          vertical-align:middle;

          ul {
            margin:0;
            padding:0;
            list-style-type:none;
            width:100%;

            li{
              display:inline-block;
              margin-right:1em;
              max-width:100%;
              span.cardNumber{
                  padding-right:20px;
              }
            }
          }
        }
      }
      span.cardExpiryDate{ white-space:nowrap;}
	  span.deleteButton{ padding-left: 20px; white-space:nowrap;}
      div.line span.select:before{
          .showIcon('FontAwesome', '\f077', 21px);
      }
  }

  div.accountchoose.selectAccount{

      div.logo img{ 
          display:none;
      }

      div.logo.cc:before{ 
          .showIcon('FontAwesome', '\f09d', 25px);
      }

      div.logo.bt:before{ 
          .showIcon('FontAwesome', '\f09d', 25px);
      }

	div.logo.ob:before{ 
		.showIcon('FontAwesome', '\f09d', 25px);
	}

	div.logo.ar:before{ 
		.showIcon('FontAwesome', '\f09d', 25px);
	}

      div.logo.ew:before{ 
          .showIcon('FontAwesome', '\f09d', 25px);
      }


      div.line span.select:before{
          .showIcon('FontAwesome', '\f078', 21px);
      }
  }

  div#formPaymentMethod {
      border-bottom:@border;
      padding-bottom:1em;
      background-color:@formbackground;
      border-right:2px solid @lbackselected; 
      border-bottom:2px solid @lbackselected; 
      border-left:2px solid @lbackselected; 
      padding-bottom:1em;      
   }

  div#formPaymentDetails, div.div-with-border{
      border-bottom:@border;
      padding-bottom:1em;
      background-color:@formbackground;
      border-right:2px solid @lbackselected; 
      border-bottom:2px solid @lbackselected; 
      border-left:2px solid @lbackselected; 
	  border-top:solid @lbackselected; 
      padding-bottom:1em;   
	  float:left;   
	  margin-bottom:1em;
   }
}

.paymentmethods(@pmlogoback:#ccc, @pmlogopadding-top-bottom:1em, @pmtextback:#222, @pmtextcolor:#fff, @borderradius:5px, @pmtextfontsize:0.9em){
    .container .portfolio-container{
        margin-left:-15px;
        margin-right:-15px;
        .work-post {
            .border-radius( @borderradius);
            overflow: hidden;
            margin-bottom: 15px;
            .work-post-gal {
                position: relative;
                .logoback {
                    border-top-left-radius: @borderradius;
                    border-top-right-radius: @borderradius;
                    background-color: @pmlogoback ;
                    padding-top:@pmlogopadding-top-bottom;
                    padding-bottom:@pmlogopadding-top-bottom;
                    img {
                        max-width: 100%;
                        display:block;
                        margin:0 auto;
                        -webkit-backface-visibility: hidden;
                    }
                }
            }
            .work-post-content {
                background:@pmtextback;
                font-size:@pmtextfontsize;
                padding: 4px 8px;
                h5{ 
                    color:  @pmtextcolor;
                    margin:0 0;
                    font-size:1.1em;
                }
                ul, table{
                    margin-top:5px;
                    margin-bottom:5px;
                    font-size:0.9em;
                    line-height:1.2em;
                    color:  @pmtextcolor;
                }
                
            }
        }
    }
}

.footer(  @fback:#0D522E, @height:5em, @margin:1.5em 0 0.5em, @font-size:21px, @color:#FFFFFF, @iconspace:42px, @iconspaceborderradius:50%, @topicon-font:'FontAwesome',@topiconchar:'\f077', @topiconsize:2em ){
    footer {
      position:relative;
      height:@height;
      bottom:0;
      background:@fback;
      width:100%;
      margin:@margin; 
	  vertical-align:central;  

		table{
			position:relative;
			background-color:@fback;
			width:100%;
			height:@height;
			td{
				vertical-align:central;				
			}
		}

        .footer-line {
          overflow: hidden;          

           p {
              color: @color;
              float: left;     
			  margin: 0;   			      
            }

          a {
              color:#FFFFFF;			  
            }
		  
          a.go-top {
              background: none repeat scroll 0 0 @color;
              .border-radius(@iconspaceborderradius);
              display: inline-block;
              float: right;
              height: @iconspace;
              position: relative;
              transition: all 0.17s ease-in-out 0s;
              width: @iconspace;				  	  
            }
          a.go-top:before {
              color: @fback;
              .showIcon(@topicon-font, @topiconchar, 27px);
              position: absolute;
              text-align: center;
              vertical-align: middle;
              width: 100%;						  
            }
        }
    }

}

.validationSummary(@errormain:#ff0000, @errorsoft:#ffcccc,@erroriconfont:'icomoon-ultimate',@errorsymbol:'\e16a' ) {

    div.validation-summary ul, div.warning ul {
        padding: 10px;
        margin: 0;
        border: 1px solid @errormain;
        background-color: @errorsoft;
        color: @errormain;
        list-style-type:none;

        li {
            margin: 5px 0;
            font-size: 1em;
        }

        li:before {
            font-family: @erroriconfont;
            -webkit-font-smoothing: antialiased;
            font-size: 0.8em;
            content: @errorsymbol;
            padding-right: 10px;
        }
    }
}

.errorField(@errormain: #ff0000, @errorsoft: #ffcccc)
{
	.form .section .select-group .select.error
	{
		border: 1px solid @errormain;
		color: @errormain;
		background-color: @errorsoft;
	}

	.form .section .input-group.error,
	.form .section .file-group.error,
	.form .section .input-group-right.error,
	.form .section .select-group.error,
	.form .section .select.error,
	.form .section .select-group.error
	{
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		input[type="url"],
		textarea.resisable,
		textarea.no-resisable,
		.select select,
		select,
		.multi-select select
		{
			background-color: @errorsoft;
			border-color: @errormain;
			color: @errormain;
			outline: none;
		}
	}
}

.ellipsis(){
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.border-radius(@radius) { 
    -webkit-border-radius: @radius; 
    -moz-border-radius: @radius; 
    border-radius: @radius; 
}


//LINEAR GRADIENT
//background: linear-gradient(135deg,  #fbfbfb 0%,#bababa 50%); /* W3C */

// Parameters: degree, color1, pos1, color2, pos2
.linear-gradient(@degree,@color1, @pos1, @color2, @pos2) {    
    @deg: 90-@degree;
    @degW3C: ~"@{degree}deg";   
    background: @color1; /* Old browsers */
    background: -moz-linear-gradient(~"@{deg}deg",  @color1 @pos1, @color2 @pos2); /* FF3.6+ */
    background: -webkit-linear-gradient(~"@{deg}deg",  @color1 @pos1, @color2 @pos2); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(~"@{deg}deg",  @color1 @pos1, @color2 @pos2); /* Opera 11.10+ */
    background: -ms-linear-gradient(~"@{deg}deg",  @color1 @pos1, @color2 @pos2); /* IE10+ */
    background: linear-gradient(@degW3C,  @color1 @pos1, @color2 @pos2); /* W3C */
}

//  Vertical-gradient width 2 colors (Top and Bottom color). And the Top Color is the fallback-color
.vertical-gradient(@colorTop, @colorBottom) {
    background: @colorTop; /* Old browsers */
    background: -moz-linear-gradient(top,  @colorTop 0%, @colorBottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@colorTop), color-stop(100%,@colorBottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @colorTop 0%,@colorBottom 100%); /* W3C */    
}

//  Vertical-gradient width 2 colors (Top and Bottom color). And the Top Color is the fallback-color
//  AND ICON
.vertical-gradient-with-icon(@icon, @gradient-c1, @gradient-c2, @gradient-c3, @gradient-c4, @fallback-color){
        background: url(@icon) no-repeat scroll right center @fallback-color; /* Old browsers */
        background: url(@icon) no-repeat scroll right center,-moz-linear-gradient(top,  @gradient-c1 0%, @gradient-c2 49%, @gradient-c3 50%, @gradient-c4 100%); /* FF3.6+ */
        background: url(@icon) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gradient-c1), color-stop(49%,@gradient-c2), color-stop(50%,@gradient-c3), color-stop(100%,@gradient-c4)); /* Chrome,Safari4+ */
        background: url(@icon) no-repeat scroll right center, -webkit-linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* Chrome10+,Safari5.1+ */
        background: url(@icon) no-repeat scroll right center, -o-linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* Opera 11.10+ */
        background: url(@icon) no-repeat scroll right center, -ms-linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* IE10+ */
        background: url(@icon) no-repeat scroll right center, linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* W3C */        
}

//  Vertical-gradient width 2 colors (Top and Bottom color). And the Top Color is the fallback-color
//  AND ICON
.vertical-gradient-with-icon(@icon, @colorTop, @colorBottom){
    background: url(@icon) no-repeat scroll right center @colorBottom;  /* Old browsers */
    background: url(@icon) no-repeat scroll right center,-moz-linear-gradient(top,  @colorTop 0%, @colorBottom 100%); /* FF3.6+ */
    background: url(@icon) no-repeat scroll right center,-webkit-gradient(linear, left top, left bottom, color-stop(0%,@colorTop), color-stop(100%,@colorBottom)); /* Chrome,Safari4+ */
    background: url(@icon) no-repeat scroll right center,-webkit-linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* Chrome10+,Safari5.1+ */
    background: url(@icon) no-repeat scroll right center,-o-linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* Opera 11.10+ */
    background: url(@icon) no-repeat scroll right center,-ms-linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* IE10+ */
    background: url(@icon) no-repeat scroll right center,linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* W3C */    
}

//  Vertical-gradient width 2 colors (Top and Bottom color) and an additional fallback-color
.vertical-gradient(@colorTop, @colorBottom, @fallback-color) {
    background: @fallback-color; /* Old browsers */
    background: -moz-linear-gradient(top,  @colorTop 0%, @colorBottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@colorTop), color-stop(100%,@colorBottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* IE10+ */
    background: linear-gradient(top,  @colorTop 0%,@colorBottom 100%); /* W3C */    
}

//  Vertical-gradient width 4 colors (Top, Middle1, Middle2, Bottom) And the middle-color is the fallback-color
.vertical-gradient(@gradient-c1, @gradient-c2, @gradient-c3, @gradient-c4){
        background: @gradient-c2; /* Old browsers */
        background: -moz-linear-gradient(top,  @gradient-c1 0%, @gradient-c2 49%, @gradient-c3 50%, @gradient-c4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gradient-c1), color-stop(49%,@gradient-c2), color-stop(50%,@gradient-c3), color-stop(100%,@gradient-c4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* IE10+ */
        background: linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* W3C */        
}

//  Vertical-gradient width 4 colors (Top, Middle1, Middle2, Bottom) and an additional fallback-color
.vertical-gradient(@gradient-c1, @gradient-c2, @gradient-c3, @gradient-c4, @fallback-color){
        background: @fallback-color; /* Old browsers */
        background: -moz-linear-gradient(top,  @gradient-c1 0%, @gradient-c2 49%, @gradient-c3 50%, @gradient-c4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gradient-c1), color-stop(49%,@gradient-c2), color-stop(50%,@gradient-c3), color-stop(100%,@gradient-c4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* IE10+ */
        background: linear-gradient(top,  @gradient-c1 0%,@gradient-c2 49%,@gradient-c3 50%,@gradient-c4 100%); /* W3C */        
}
