<html lang="en">
  <body>
    <p>We've noticed a cheque withdrawal attempt of ${{amount}}, initiated by {{firstName}} {{lastName}}.</p>
    <p>Please visit {{punterTransactionsUrl}} to confirm or reject the transaction with transactionId = {{transactionId}}.</p>
  </body>
</html>