<html lang="en">
  <body>
    <p>Dear customer,</p>
    <p>Your account has been suspended due to '{{suspensionReason}}'</p>
    <p>Please contact Customer Services for further assistance.</p>
  </body>
</html>