<html lang="en">
  <body>
    <p>Hi!</p>
    <p>Punter account has been suspended due to '{{suspensionReason}}'</p>
    <p>Their information can be found here: {{punterBackofficeUrl}}.</p>
  </body>
</html>