<html>
  <body>
    <p>Dear customer,</p>
    <p>You've requested to reset password, operation time: {{resetPasswordDate}}.</p>
    <p>Please <a href='{{resetPasswordURL}}' rel='nofollow'>click here</a> to reset your password.</p>
    <p>If you don't recognize this request, we recommend that you immediately contact Customer Services for further assistance.</p>
  </body>
</html>
