.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container .sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-item .sb-src-components-sbtech-cas-widget-topmenu-_index__counter{
  top:0;
  right:0;
  background:black;
}
.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container [data-text="FreeSpinsButton"]{
  background-image:url('/img/23104');
  background-size:auto;
}
