# File assumes you have global ignore rules from template: https://github.com/flipadmin/command-line-tools/blob/develop/templates/.gitignore-template

####################
### Local config ###
!.scalafmt.conf
!.scalafix.conf

########################
### Project specific ###

# Legacy / ebean / generated for tests
*-create-all.sql
*-drop-all.sql