.page-header-wrapper-top {
  font-family: "Roboto", Tahoma, Arial, Helvetica, sans-serif;
  border-bottom: 0px solid transparent;
}

.page-header-wrapper-top .page-header-center {
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.page-header-wrapper-top .page-header-dropdown-item {
  padding: 0 24px 0 0;
  border: 0px;
}

.page-header-wrapper-top .page-header-link {
  line-height: 24px;
  margin: 0;
  border: 0px;
}

.page-header-wrapper-top .page-header-dropdown-placeholder {
  padding-left: 0;
}

.page-header-wrapper-top .page-header-open-bets-link span:not(.page-header-custom-link-emphasis) {
  color: #d11e1e;
}

.page-header-wrapper-top .page-header-dropdown-placeholder {
  color: #d11e1e;
}

.page-header-wrapper-top .page-header-dropdown-inner {
  border-radius: 0px;
  right: auto;
  left: 0;
}

.page-header-custom-dropdown-item {
  margin-left: 1em;
}

.page-header-dropdown-wrap {
  padding: 0;
}

.page-header-dropdown-inner .page-header-custom-dropdown-section-wrap .page-header-custom-dropdown-item .page-header-custom-link {
  padding: 13px 16px;
}

.page-header-dropdown-text, .page-header-custom-link-emphasis {
  color: white;
  padding: 0;
  margin: 0 10px;
  line-height: 24px;
}

html.IsDesktop .loggedin .page-header-top .page-header-link,
html.IsDesktop .loggedin .page-header-top .page-header-dropdown-wrap {
  padding: 0;
  margin: 0;
}

.branded-header__button {
  background-color: #d11e1e;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  border: none;
  width: 60px;
  padding: 0;
}

.branded-header__button:hover {
  background: #b21616;
}

.page-header-link {
  margin: 2px;
}

.page-header-custom-link-text {
  margin: 0;
}

.page-header-middle {
  display: flex;
  flex-direction: column;
}

.navigation-in-center .page-header-left {
  position: relative;
  top: 0;
  transform: none;
  margin: 0;
}

html.IsDesktop .page-header-main-logo {
  width: 250px;
  height: 30px;
  margin: 15px 0 25px;
}

.page-header-main-navi-link {
  padding: 0px 24px;
  margin: 0;
  color: white;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
}

.page-header-main-navi-link-selected {
  background: #d11e1e;
  color: white;
  border: none;
}

.page-header-wrapper-bottom {
  background: #d11e1e;
  color: white;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}

.page-header-wrapper-bottom .page-header-left .page-header-link, .page-header-wrapper-bottom .page-header-left .page-header-text {
  border: none;
  margin: 0px 4px;
  line-height: 26px;
}

@media (max-width: 1380px) {
  .page-header-wrapper-bottom .page-header-left .page-header-link, .page-header-wrapper-bottom .page-header-left .page-header-text {
    margin: 0px 8px;
  }
}

.page-header-wrapper-bottom .page-header-left .page-header-custom-link {
  color: white;
}

.page-header-wrapper-bottom .page-header-left .page-header-custom-link--text {
  margin: 0;
}

.IsDesktop .page-header-wrapper-bottom .page-header-left {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.IsTablet .page-header-middle, .IsTablet .page-header-top,
.IsMobile .page-header-middle,
.IsMobile .page-header-top {
  flex-direction: row;
  display: flex;
}

.IsTablet .page-header-top,
.IsMobile .page-header-top {
  justify-content: space-between;
}

.IsTablet .page-header-top .page-header-dropdown-text,
.IsMobile .page-header-top .page-header-dropdown-text {
  line-height: 22px;
  margin-top: 10px;
}

.IsTablet .page-header-dropdown-wrap,
.IsMobile .page-header-dropdown-wrap {
  padding: 0;
}

html.IsMobile .loggedin .page-header-right, html.IsTablet .loggedin .page-header-right {
  padding: 0;
}

.IsTablet sb-block:not(#top-panel-block-1) .page-header-wrapper:not(.page-header-wrapper-bottom):not(.page-header-wrapper-middle),
.IsMobile sb-block:not(#top-panel-block-1) .page-header-wrapper:not(.page-header-wrapper-bottom):not(.page-header-wrapper-middle) {
  display: none;
}

.IsTablet sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-left,
.IsMobile sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-left {
  display: none;
}

.IsTablet sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-right,
.IsMobile sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-right {
  display: none;
}

.IsTablet sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center,
.IsMobile sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center {
  padding: 0px;
  width: 100%;
}

.IsTablet sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center > .page-header-element,
.IsMobile sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center > .page-header-element {
  width: 100%;
  overflow-y: scroll;
}

.IsTablet sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center .main_navigation,
.IsMobile sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center .main_navigation {
  display: flex;
  flex-wrap: nowrap;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.IsTablet sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center .main_navigation > li,
.IsMobile sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center .main_navigation > li {
  white-space: nowrap;
  flex-shrink: 0;
}

.IsTablet sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center .page-header-main-navi-link,
.IsMobile sb-block:not(#top-panel-block-1) .page-header-wrapper-middle .page-header-center .page-header-main-navi-link {
  font-size: 12px;
}

html.IsMobile .page-header-wrapper-top .mobile-login-element, html.IsTablet .page-header-wrapper-top .mobile-login-element {
  width: auto;
  height: auto;
  padding: 0 12px;
  font-size: 12px;
  line-height: 24px;
  margin: 0px;
}

.page-header-wrapper-top .page-header-join-button {
  background-color: #d11e1e;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: 0 auto;
  margin: 0 10px;
}

.page-header-wrapper-top .page-header-join-button:hover {
  background: #b21616;
}

.page-header-wrapper-top .branded-header__button--join {
  background-color: #d11e1e;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
  padding: 0 19px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 14px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: 0 auto;
}

.page-header-wrapper-top .branded-header__button--join:hover {
  background: #b21616;
}

.page-header-wrapper-top .branded-header__button--login {
  font-size: 14px;
  line-height: 28px;
}

.page-header-wrapper-top .page-header-login-button {
  padding: 0;
  margin: 0 10px;
}

.IsTablet .page-header-wrapper-bottom .page-header-left,
.IsMobile .page-header-wrapper-bottom .page-header-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  max-width: 100%;
}

.IsTablet .page-header-wrapper-bottom .page-header-left .page-header-element,
.IsMobile .page-header-wrapper-bottom .page-header-left .page-header-element {
  font-size: 10px;
}

.IsTablet .page-header-wrapper-bottom .page-header-left .page-header-link,
.IsTablet .page-header-wrapper-bottom .page-header-left .page-header-text,
.IsMobile .page-header-wrapper-bottom .page-header-left .page-header-link,
.IsMobile .page-header-wrapper-bottom .page-header-left .page-header-text {
  white-space: nowrap;
}

.IsTablet .page-header-wrapper-bottom .page-header-left .page-header-link span,
.IsTablet .page-header-wrapper-bottom .page-header-left .page-header-text span,
.IsMobile .page-header-wrapper-bottom .page-header-left .page-header-link span,
.IsMobile .page-header-wrapper-bottom .page-header-left .page-header-text span {
  margin: 0;
}

html.IsMobile .page-header-middle .page-header-center, html.IsTablet .page-header-middle .page-header-center {
  padding: 0;
}

html.IsMobile .mobile-header-main-logo {
  width: 145px;
}

html.IsMobile .page-header-middle .page-header-center, html.IsTablet .page-header-middle .page-header-center {
  width: calc(100% - 120px);
  text-align: center;
}

.mobile-header-logo-container {
  padding-right: 11px;
}

@media (max-width: 400px) {
  html.IsMobile .mobile-header-main-logo {
    width: 145px;
  }
}

.IsMobile .page-header {
  position: unset;
}

.page-header-wrapper-top .page-header-link {
  line-height: 24px;
}

.page-header-cell.page-header-left .page-header-dropdown-wrap {
  padding: 0;
}

@media all and (min-width: 1688px) {
  .page-header-element:last-child .page-header-link {
    padding-right: 20px;
  }
  .page-header-element:last-child .page-header-link {
    padding: 0 15px;
  }
}

.IsTablet .page-header-top .mobile-header-link,
.IsMobile .page-header-top .mobile-header-link {
  margin-right: 10px;
}

.IsTablet .page-header-top .page-header-right,
.IsMobile .page-header-top .page-header-right {
  order: 2;
  margin-right: 10px;
  min-width: 85px;
  text-align: right;
  line-height: 24px;
}

.IsTablet .page-header-top .page-header-right > div,
.IsMobile .page-header-top .page-header-right > div {
  text-align: left;
}

.IsTablet .page-header-top .page-header-center,
.IsMobile .page-header-top .page-header-center {
  order: 1;
  margin: 0;
  line-height: 24px;
}

.IsTablet .page-header-top .page-header-left,
.IsMobile .page-header-top .page-header-left {
  order: 0;
  margin-left: 10px;
  min-width: 75px;
  line-height: 24px;
}

.IsTablet .page-header-top .mobile-header-dropdown-item,
.IsMobile .page-header-top .mobile-header-dropdown-item {
  padding: 0;
}

html.IsMobile .loggedin .page-header-top .page-header-right {
  margin-right: 0px;
}

html.IsMobile .loggedin .page-header-top .page-header-right .page-header-deposit-button {
  margin-left: 10px;
}

@media (max-width: 345px) {
  html.IsMobile .loggedin .page-header-top .page-header-right {
    display: flex;
    flex-direction: column;
  }
  html.IsMobile .loggedin .page-header-top .page-header-right > .page-header-element {
    order: 2;
    text-align: right;
  }
  html.IsMobile .loggedin .page-header-top .page-header-right > .page-header-element:last-of-type {
    order: 1;
  }
}

.IsDesktop .loggedin .page-header-top .page-header-link.page-header-deposit-button {
  background-color: #d11e1e;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: 0 auto;
  margin-right: 20px;
}

.IsDesktop .loggedin .page-header-top .page-header-link.page-header-deposit-button:hover {
  background: #b21616;
}

.IsMobile .notlogged .page-header-top .page-header-right, .IsMobile .notlogged .page-header-top .page-header-left {
  margin: 0;
}

.IsMobile .notlogged .page-header-top .page-header-center {
  margin: 0 auto;
}

#header-reward-element {
  display: none;
  color: white;
  margin-left: 15px;
}

#header-reward-element.points-visible {
  display: block;
}

#header-reward-element .header-reward-points {
  color: #d11e1e;
  margin: 10px;
}

.IsMobile #header-reward-element {
  padding: 0;
  font-size: 12px;
  margin: 0;
  line-height: 24px;
}

.mobile-header-dropdown-item, .mobile-header-link {
  font-family: "Roboto", Tahoma, Arial, Helvetica, sans-serif;
}

.page-header-wrapper-top .page-header-center {
  margin-left: 90px;
}

.IsDesktop .page-header-wrapper-bottom .page-header-element:first-child .page-header-link .page-header-custom-link-text {
  margin-left: 12px;
}

.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container .sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-item .sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-item-text, .sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container .sb-src-components-sbtech-cas-widget-topmenu-_index__more-menu-item .sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-item-text {
  margin: 0;
  padding: 0 8px;
  font-size: 13px;
  line-height: 26px;
}

.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container .sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu,
.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container .sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-inner-container,
.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container,
.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container .sb-src-components-sbtech-cas-widget-topmenu-_index__more-menu-item,
.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container .sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-item,
.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container .sb-src-components-sbtech-cas-widget-topmenu-_index__sub-menu-item {
  height: auto;
}

.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container [data-text="TopMenuSearch"] {
  width: 30px;
  height: 26px;
}

#panels-right-holder, #panels-left-holder {
  margin-top: 10px;
}

.page-header-wrapper-middle {
  background: #0f192a;
}

.page-header-wrapper-top {
  background: #0f192a;
}

.branded-header__button--login {
  background: #1b2c49;
}

.branded-header__button--login:hover {
  background: #233959;
}

#mainNavigation {
  background: #0f192a;
}

#mainNavigation.main-navigation-mobile #mainNavigationContentWrapper .navigationSection > h3, #mainNavigation.main-navigation-mobile #mainNavigationContentWrapper > h3 {
  background: #d11e1e;
  margin: 8px 0 3px;
  width: calc(100% - 15px);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.fixedMenuItem > a {
  background: #1b2c49;
}

.fixedMenuItem > a:hover {
  background: #233959;
}

.fixedMenuItem.redButton > a {
  background: #d11e1e;
}

.mobile-header-open-bets-count-number {
  color: #d11e1e;
}
