$brand-primary: #ff521d;
$brand-primary--hover: #f83a00;

$brand-secondary:#ffbc1d;

$brand-base:#282828;
$brand-base-light:#3b3b3b;

$brand-grey:#f5f5f5;
$brand-grey-btn:#f5f5f5;
$brand-light:#ffffff;



$alert: #d04437;
$accept: #00b000;
$brand-accept: #00b000;
$brand-alert: #ffd11d;

$brand-font--header:'Poppins',sans-serif;
$brand-font--body:'Titillium Web',Tahoma,Arial,Helvetica,sans-serif;

$brand-heading-color: $brand-base;

$center-bg:$brand-light;
$sidebar-bg:$brand-light;
$main-bg:$brand-grey;

$button-bg:$brand-primary;
$button-color:#ffffff;
$button-bg--hover:$brand-primary--hover;

@mixin brand-button($font-size, $stripe: false, $place: false){
  background-color:$brand-primary;
  color:white;
  font-family:$brand-font--header;
  font-weight:bold;
  text-transform:uppercase;
  font-size:$font-size + px;
  line-height:$font-size * 2px;
  display:inline-block;
  padding:0 $font-size + px;
  text-align:center;
  text-decoration:none;
  border:none;
  border-radius:0;
  width:fit-content;
  @if $stripe == true{
    width: 100%;
    box-sizing:border-box;
  }
  &:hover{
    background:$brand-primary--hover;
  }
}

@mixin brand-header($font-size:14px, $bold:true){
      font-family: $brand-font--header;
      background:$brand-base;
      font-weight:  700;
      text-transform: uppercase;
      padding: 10px 12px 10px 29px;
      font-size: $font-size;
      margin: 1px 0;
      position: relative;
      color: #fff;
      border-radius:0;
      &:before {
        position: absolute;
        top: 50%;
        left: 14px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: $font-size + 6;
        width: 3px;
        content: "";
        border-radius: 2px;
        background-color: $brand-primary;
      }
}

@mixin brand-title{
  color:white;
  font-family:$brand-font--header;
  text-transform:uppercase;
  font-weight:bold;
}

@mixin force-ar($percentage:56.5%){
  padding-bottom:$percentage;
  overflow:hidden;
  .ag-promo-image{
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin branded-heading($color:white, $bg:$brand-base, $size:25px){
  line-height: 1.7;
  text-transform:uppercase;
  font-size: $size;
  box-decoration-break: clone;
  padding-left:6px;
  font-family: $brand-font--header;
  font-weight:800;
  & > span{
    color:$color;
    background:$bg;
    padding:0;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow: 6px 0 0 $bg,
        -6px 0 0 $bg;
  }
}
