@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Titillium+Web:300,400,700&display=swap");
.content-title, .content-box {
  border: 1px solid #ffffff;
  background: #212329;
  padding: 10px;
}

.content-title {
  color: white;
}

.content-title h3 {
  margin: 0;
  padding: 0;
}

.content-title:hover {
  cursor: pointer;
  background: #272a31;
}

.content-box {
  color: #212329;
  background: #212329;
  display: none;
}

.content-box a {
  color: #57a348;
}

.section-title {
  padding: 0;
  background: none;
  margin-top: 30px;
  color: #57a348;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 14px;
}

.content-box {
  color: white;
}

.ag-page {
  max-width: 1688px;
  margin: 0 auto;
}

.ag-page * {
  box-sizing: border-box;
}

.ag-page .ag-row {
  display: flex;
  flex-direction: row;
}

.ag-page .ag-row-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.ag-page .ag-col {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
}

.ag-page .ag-heading {
  background: #212329;
  color: white;
  height: 32px;
  line-height: 32px;
  width: 100%;
  margin: 1px auto;
}

.ag-page .ag-heading h2 {
  margin: 0;
  padding-left: 10px;
  margin-left: 12px;
  border-left: 3px solid #57a348;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.agHidden, .ag-hidden {
  display: none !important;
}

.IsMobile .ag-mob-col {
  flex-direction: column;
  width: 100%;
}

.ag-button {
  background-color: #57a348;
  color: white;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 48px;
  display: inline-block;
  padding: 0 21px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  width: fit-content;
  box-sizing: border-box;
  width: 100%;
}

.ag-button:hover {
  background: #448038;
}

.ag-button--grey {
  background: #212329;
}

.ag-button--grey:hover {
  background: #000000;
}

.ag-panel-heading {
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 12px 10px 29px;
  font-size: 14px;
  margin: 1px 0;
  position: relative;
  color: #fff;
  background: #212329;
  border-radius: 0;
}

.ag-panel-heading:before {
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 3px;
  content: "";
  border-radius: 2px;
  background-color: #57a348;
}

.panel-center-inner .ag-panel-heading {
  margin: 1px 0px 1px;
}

.panel-center-inner > .ag-panel-heading {
  margin-top: 0px;
}

.breadcrumb.breadcrumb-last {
  color: #57a348;
}

html.IsDesktop .panel-center .breadcrumbs-holder {
  padding: 0px 0px 1px;
}

a.lnk_btn.back_btn {
  background: #212329;
}

.IsDesktop .rj-ev-list__ev-card {
  padding-left: 0;
  padding-right: 0;
}

.IsDesktop .LeagueViewResponsiveBlock .league-events-block {
  margin-bottom: 0px;
}

.lbetting-tabs {
  border-top-left-radius: 0px;
  border-right: 0px;
}

.IsDesktop .event-view .toggleableHeadline {
  border-radius: 0px;
}

@media screen and (min-width: 1697px) {
  .IsDesktop .event-view .event-view-column-left {
    padding-right: 1px;
  }
  .IsDesktop .event-view .event-view-column-right {
    padding-left: 1px;
  }
}

.LBettingEventView .panel-left .live-now-betting-rblock {
  padding: 0;
}

.live-now-betting-rblock .rj-carousel {
  background: #212329;
  margin-right: 10px;
}

.IsDesktop .lbetting-block .rj-carousel {
  width: calc(100% - 10px);
}

.IsDesktop .rj-ev-list__sub-heading {
  border-bottom: 1px solid #212329;
}

.IsDesktop .rj-sport-heading {
  border-radius: 0px;
}

.rj-event-card {
  border-radius: 0px;
}

.rj-background-img-wrapper {
  margin: 0;
  border-radius: 0px;
}

html.IsDesktop .panel-center .events-container.events-container-today {
  padding-top: 0;
}

.rj-message--info {
  background: #212329;
  color: #57a348;
}

.scarousel-btn.scarousel-btn-next:before {
  display: none;
}

.filter-custom .filter-label {
  border-radius: 0px;
}

.user-info__input input {
  border-radius: 0px;
}

.user-info__checkbox .user-info-checkbox-check::before {
  border-radius: 0px;
}

.page-terms a {
  color: #57a348;
}

.sub-level-1 .sub-level-2 .sports-list-sub-item .sports-list-item-text,
.sub-level-1 .sports-list-sub-item .sports-list-item-text {
  text-indent: 0;
}

.IsDesktop .panel-center .calendar-carousel {
  padding: 0;
}

.IsDesktop button.user-info-p__button,
button.user-info-p__button {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  font-size: 15px;
  padding: 0px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #57a348;
  font-weight: bold;
  text-transform: uppercase;
}

.IsDesktop button.user-info-p__button:active, .IsDesktop button.user-info-p__button:hover,
button.user-info-p__button:active,
button.user-info-p__button:hover {
  background-color: #448038;
  color: white;
}

.IsDesktop button.user-info-p__button--bright,
button.user-info-p__button--bright {
  background-color: #9b9b9b;
}

.IsDesktop button.user-info-p__button--bright:active, .IsDesktop button.user-info-p__button--bright:hover,
button.user-info-p__button--bright:active,
button.user-info-p__button--bright:hover {
  background-color: #8e8e8e;
}

.rj-popup-message__button {
  padding: 0.5em;
}

.inbox__add,
.IsDesktop .inbox__add {
  display: none;
}

.sports-list-item .sports-list-item-text {
  height: 20px;
  white-space: normal;
}

.myacc-block-content-inner .user-info__tab.user-info__tab--active {
  color: white;
}

.myacc-block-content-inner .user-info__tab {
  color: #282828;
}

html.IsMobile .bet-search-form, html.IsTablet .bet-search-form {
  padding: 10px 0 10px 56px;
}

.c-reality-check .rj-popup-message__header-content .c-reality-check__group-text {
  background: #eeeeee;
}

html.IsMobile body.LBettingOverview #betslipNotificationWrap {
  z-index: 3;
}

html.IsTablet body.LBettingOverview #betslipNotificationWrap {
  z-index: 3;
}

html.IsTablet .content-main {
  overflow-y: auto;
}

.stepwise-registration__message.stepwise-registration__message-uk {
  display: none;
}

.myacc-nav-item.self-exclusion {
  display: none;
}

html.IsTablet #betslipNotificationWrap {
  position: fixed;
}

.message-block {
  margin: 0px;
  background: #ff9d2c;
  color: white;
  padding: 10px;
}

.message-block h1, .message-block span {
  text-align: center;
  color: #212329;
  text-transform: uppercase;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  line-height: 2em;
}

.message-block p {
  color: #212329;
  font-family: "Roboto", Tahoma, Arial, Helvetica, sans-serif;
}

.IsMobile .message-block {
  margin: 1px 0 1px;
}

.rmx-message-block .message-block {
  margin: 1px 0 1px;
}

h1.stepwise-title {
  color: #57a348;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.stepwise-title {
  text-align: center;
}

.stepwise-registration__checkbox input + label {
  padding-left: 35px;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #57a348;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-white > div {
  background-color: white;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.page-main-image {
  margin: 0px 0px 1px;
  box-sizing: border-box;
}

.page-main-image img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.page-main-image a {
  display: block;
  width: 100%;
  text-align: center;
}

.page-heading {
  display: block;
  position: relative;
  padding: 10px;
  clear: both;
  font-size: 1.0769em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-style: solid;
  color: #fff;
  border-width: 1px 0 1px 0;
  border-top-color: #212329;
  border-bottom-color: #212329;
  background-color: #212329;
  box-sizing: border-box;
}

.page-content {
  padding: 20px 10px;
  margin: 1px 0px;
  background: #212329;
  box-sizing: border-box;
}

.page-content p + p {
  margin-top: 1em;
  margin-bottom: 1.25em;
}

.page-content p {
  margin-top: 1.25em;
  margin-bottom: 1em;
  line-height: 1.5;
}

.page-content ul {
  margin-bottom: 1.2em;
  margin-left: 20px;
}

.page-content b,
.page-content strong {
  font-weight: bolder;
}

.page-content small {
  font-size: 80%;
}

.page-content sub,
.page-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.page-content sub {
  bottom: -0.25em;
}

.page-content sup {
  top: -0.5em;
}

.page-content h1 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

.page-content h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

.page-content h3 {
  font-size: 1.17em;
}

.page-content h4 {
  font-size: 1em;
}

.page-content h5 {
  font-size: 0.83em;
}

.page-content h6 {
  font-size: 0.75em;
}

.page-content li {
  margin: 2px 0.75em;
  list-style-type: disc;
}

.page-content li > ul {
  margin: 5px;
}

.page-content li > ul li {
  margin: 2px 10px;
  list-style-type: circle;
}

.page-content a {
  color: #57a348;
}

.page-content table {
  text-align: center;
  margin-bottom: 1em;
}

.page-content td, .page-content th {
  line-height: 2em;
  padding: 0 1em;
  border: 1px solid white;
}

.page-content .cta-button {
  background-color: #57a348;
  color: white;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 45px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  width: fit-content;
  box-sizing: border-box;
  margin: 1em;
}

.page-content .cta-button:hover {
  background: #448038;
}

.page-header-links {
  padding: 10px 15px 0 15px;
}

.page-header-links span {
  margin: 0 10px;
}

.page-header-links span:first-of-type {
  margin-left: 0px;
}

.IsMobile .page-main-image,
.IsMobile .page-heading,
.IsMobile .page-content {
  margin: 1px 1px;
}

.freeHtmlContent h4, .staticContentPage h4, .rulesPage h4 {
  background: #57a348;
}

.page-content.rules-page {
  padding: 0;
}

.page-content.rules-page .sectionSubHeading .icon.header_title_icon {
  display: none;
}

.page-content section:nth-of-type(n+1) {
  margin-top: 2em;
}

.page-content a.ag-button {
  color: white;
}

.page-content * {
  box-sizing: border-box;
}

.page-heading {
  margin-top: 0px;
}

.super-banner .bet-button {
  border-radius: 0px;
}

html.IsDesktop .super-banner-slider {
  margin: 0;
}

html.IsDesktop .super-banner-slider .custom-slider-wrap {
  border-radius: 0;
}

.super-banner-slide {
  border-radius: 0px;
}

/* super banner overrides */
/* fixed height centered images in slider */
html.IsDesktop .super-banner-slider .super-banner-slide-image,
html.IsMobile .super-banner-slider .super-banner-slide-generic .super-banner-slide-image,
html.IsTablet .super-banner-slider .super-banner-slide-generic .super-banner-slide-image {
  width: auto;
  max-width: unset;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  position: absolute;
}

/* no entry slide */
html.IsMobile .super-banner-slide-generic .super-banner-image-container, html.IsTablet .super-banner-slide-generic .super-banner-image-container {
  height: 100%;
}

.super-banner-image-container {
  position: relative;
}

html.IsMobile .super-banner-slide .custom-text, html.IsTablet .super-banner-slide .custom-text {
  font-size: 14px;
  padding: 0.5em 0;
}

.super-banner .cta-button {
  background-color: #57a348;
  color: white;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 45px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  width: fit-content;
  box-sizing: border-box;
}

.super-banner .cta-button:hover {
  background: #448038;
}

/* custom scrollbar for caursell android/chrome only */
html.IsMobile #home .super-banner.custom-slider-wrap {
  height: 208px;
}

.IsTablet .custom-slider-wrap, .IsMobile .custom-slider-wrap {
  margin-bottom: 1px;
}

html.IsMobile #home .super-banner .custom-slider-wrap::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 8px;
  background-color: #212329;
  border: 0;
  border-radius: 8px;
}

html.IsMobile #home .super-banner .custom-slider-wrap::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #57a348;
  border: 0;
}

html.IsMobile .super-banner .custom-slider-list:not(:empty), html.IsMobile .super-banner .scarousel-list:not(:empty) {
  margin-bottom: 2px;
}

.super-banner-icon-live.live-icon {
  top: 0;
  left: unset;
  right: 0;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-radius: 0px;
  background: #57a348;
  padding: 0 6px;
}

.super-banner {
  background: transparent;
}

html.IsDesktop .super-banner-frameless .custom-slider-trigger-container {
  left: unset;
  min-width: unset;
  width: auto;
}

html.IsDesktop .super-banner-carousel .super-banner-slide,
html.IsMobile .super-banner-carousel .super-banner-slide,
html.IsTablet .super-banner-carousel .super-banner-slide {
  width: 350px;
  height: 250px;
  margin-right: 2px;
}

.super-banner-carousel .scarousel-btn-next, html.IsMobile .scarousel-btn-next, html.IsTablet .scarousel-btn-next {
  right: 10px;
}

.super-banner-carousel .scarousel-btn-prev, html.IsMobile .scarousel-btn-prev, html.IsTablet .scarousel-btn-prev {
  left: 10px;
}

.super-banner-slide-generic .super-banner-image-container {
  height: 100%;
}

html.IsDesktop .super-banner-carousel .scarousel-list:not(:empty) {
  margin-top: 10px;
}

html.IsMobile .custom-slider-list-item:first-child .super-banner-slide,
html.IsMobile .scarousel-item:first-child .super-banner-slide {
  margin-left: 2px;
}

html.IsMobile .custom-slider-list-item:last-child .super-banner-slide,
html.IsMobile .scarousel-item:last-child .super-banner-slide {
  margin-right: 2px;
}

html.IsMobile .super-banner-slide {
  margin-right: 2px;
}

html.IsMobile .super-banner .custom-slider-list:not(:empty),
html.IsMobile .super-banner .scarousel-list:not(:empty) {
  margin: 2px 0;
}

html.IsDesktop .super-banner-slider .custom-slider-container {
  padding-bottom: 10px;
}

html.IsDesktop .super-banner-slider .custom-slider-trigger-container {
  bottom: -3px;
}

html.IsDesktop .super-banner-slider .custom-slider-trigger {
  width: 20px;
  height: 6px;
  border-radius: 3px;
}

.rj-superbanner__item {
  border-radius: 0px;
}

.rj-superbanner__item sb-img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.ag-modal {
  display: none;
}

.ag-modal[data-status="open"] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.ag-modal .modal-container {
  background: white;
  width: 90%;
  max-width: 500px;
}

.ag-modal .title-container {
  width: 100%;
  background: #212329;
  display: block;
  text-transform: uppercase;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  line-height: 2;
  font-size: 18px;
}

.ag-modal .message-container {
  font-family: "Roboto", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #212329;
  line-height: 1.2;
  padding: 2em;
}

.ag-modal .message-container p {
  margin-bottom: 0.2em;
}

.ag-modal .message-container ul {
  list-style-type: disc;
  margin-left: 18px;
}

.ag-modal .message-container li {
  line-height: 1.2em;
}

.ag-modal .button-container {
  width: 100%;
}

.ag-modal button.modal-negative {
  background-color: #57a348;
  color: white;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 45px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  width: fit-content;
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  float: right;
  background: #212329;
  color: white;
  border-radius: 0px;
}

.ag-modal button.modal-negative:hover {
  background: #448038;
}

.ag-modal button.modal-negative:hover {
  background: #16171b;
}

.ag-modal button.modal-positive {
  background-color: #57a348;
  color: white;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 45px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  width: fit-content;
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  float: left;
  border-radius: 0px;
}

.ag-modal button.modal-positive:hover {
  background: #448038;
}

.IsMobile .ag-modal button.modal-positive,
.IsMobile .ag-modal button.modal-negative {
  width: 100%;
}

.page-content {
  margin: 0 10px;
  padding: 10px 20px;
}

.page-content.page-grey {
  color: white;
}

.page-content + .page-content {
  margin-top: 2px;
}

.page-heading {
  margin: 0 10px 0px;
}

.page-heading h2 {
  color: #57a348;
  font-size: 1.4em;
}

.page-heading + .page-content {
  margin-top: 2px;
}

.account-page .mobile-only {
  display: none;
}

.IsTablet .account-page,
.IsMobile .account-page {
  padding: 10px;
}

.IsTablet .account-page .mobile-only,
.IsMobile .account-page .mobile-only {
  display: initial;
}

.page.current .facility-upload__wrap {
  background: #212329;
  padding: 20px 10px;
  color: white;
}

.page.current .facility-upload__wrap .account-text-with-paragraphs {
  color: white;
}

.page.current .facility-upload__wrap a, .page.current .facility-upload__wrap a:hover, .page.current .facility-upload__wrap a:visited {
  color: #57a348;
}

.page-heading + .page-content {
  margin-top: 2px;
}

.live-message {
  background: #272a31;
  color: white;
  padding: 10px;
}

.page-header-element .page-header-link.page-header-deposit-button {
  border-left: none;
}

html.IsDesktop .page-header-button-link:hover, html.IsDesktop .page-header-big-button-link:not(.page-header-login-button):hover {
  border: none;
}

.rj-superbanner__event-text--img-league {
  display: none;
}

#history-panel.page.current .bet-history-total-block {
  color: white;
}

#history-panel.page.current .bet-history-total-value {
  color: #57a348;
}

.account-check-doc-upload__wrap {
  display: none;
}

.account-check-doc-btn__wrap {
  display: none;
}

.verification-message {
  width: 100%;
  background: #0f1b21;
  color: white;
}

.welcome-page {
  color: white;
  padding: 25px;
}

.IsMobile .welcome-page {
  padding: 50px 25px;
}

.welcome-page h3 {
  margin: 20px 0;
}

.verification-passed {
  display: block;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

.verification-passed img {
  width: 75px;
}

.verification-passed h3 {
  font-size: 26px;
}

.verification-passed p {
  margin-bottom: 25px;
}

.verification-passed a.ag-button {
  margin-bottom: 10px;
}

.verification-passed a.blank-button {
  background-color: none;
  color: #878787;
}

.overlay-verification {
  white-space: normal;
}

.overlay-verification * {
  box-sizing: border-box;
}

.overlay-verification #verification-heading {
  color: white;
  font-size: 14px;
  font-family: "Titillium Web", Tahoma, Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px;
  background-position: 98% 90%;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.overlay-verification #verification-heading h2 {
  font-size: 18px;
  font-weight: bold;
}

.overlay-verification #verification-heading p {
  margin-right: 50px;
  margin-top: 10px;
}

.overlay-verification[data-status="failed"] #verification-heading {
  background-color: #57a348;
  background-image: url("/img/22325");
}

.overlay-verification #verification-content {
  color: white;
  display: flex;
  flex-direction: column;
}

.overlay-verification .info-box {
  display: block;
  position: relative;
  height: 100%;
  padding: 10px 10px 40px 10px;
  font-size: 14px;
  background-repeat: no-repeat;
  white-space: normal;
  margin-bottom: 10px;
}

.overlay-verification .info-box p {
  line-height: 1.6;
  padding-right: 100px;
  margin-bottom: 1em;
}

.overlay-verification .info-box--docs {
  background-color: #0f1b21;
  color: white;
  background-image: url("/img/22327");
  background-position: calc(100% - 20px) calc(100% - 40px);
  background-size: auto 80px;
}

.overlay-verification .info-box ul {
  list-style-type: disc;
  margin-left: 2em;
}

.overlay-verification .info-box ul b {
  font-size: 1.2em;
  line-height: 1.8em;
  text-transform: uppercase;
}

.overlay-verification .info-box .small-text {
  font-size: 11px;
}

.overlay-verification .info-box .small-text a {
  color: #57a348;
}

html.IsMobile .overlay-verification .info-box--docs {
  background-color: #212329;
}

.IsDesktop .page.current .account-doc-upload__wrap {
  max-width: 350px;
  margin: 0 auto;
}

.IsDesktop .page.current .account-doc-upload__wrap .filter-custom .filter-input-value {
  color: white;
}

.IsMobile #mainNavigation,
.IsMobile .main-nav-right {
  max-width: 90%;
}

.rj-hamburger-tabs-01-nav {
  padding-bottom: 0px;
}

.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container .sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-item .sb-src-components-sbtech-cas-widget-topmenu-_index__counter {
  top: 0;
  right: 0;
  background: black;
}

.sb-src-components-sbtech-cas-widget-topmenu-_index__top-menu-outer-container [data-text="FreeSpinsButton"] {
  background-image: url("/img/23104");
  background-size: auto;
}

.greyhounds #racing-next-races {
  display: block;
}

.self-exclusion-rblock p a, .myacc-block-content-inner p a {
  color: #57a348;
}

html.IsDesktop .mobile-only-link {
  display: none;
}

.desktop-only-link {
  display: none;
}

html.IsDesktop .desktop-only-link {
  display: inline-block;
}

html.IsDesktop #product-blocking-panel.page {
  padding: 10px;
  box-sizing: border-box;
}
