# DB
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASEURL=jdbc:postgresql://localhost:5432/predictor

# Play!
APPLICATION_SECRET=todotodo

RMX_CLIENT_ID=
RMX_CLIENT_PASSWORD=
RMX_USER=
RMX_PASSWORD=