/.cache/
/cdn/
/ci/
/deploy/
/docker/
/.dockerignore
/.DS_Store/
/.eslintrc
/.git/
/.github/
/.idea/
/Jenkinsfile
/jest.config.js
/k8s-operations/
/nvm-installer
/prettier.config.js
/README.md
/packages/mock-server
/packages/utils
/.vscode/

**/build/
**/coverage/
**/dist/
**/.DS_Store/
**/.env*
**/.gitignore
**/node_modules/
**/npm-debug.log*
**/.gitkeep
**/*.log
**/__mocks__/
**/.next/
**/out/
**/*.pem
**/.pnp/
**/.pnp.js
**/public/static/locales/*
**/__tests__/
**/.vercel
**/yarn-debug.log*
**/yarn-error.log*
