.vscode
/.idea
.envrc
.direnv

node_modules

yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store

**/.flowconfig
**/*-dbg.js

.eslintcache

**/gstech-backend/**/ft-migration/output/**
!**/gstech-backend/**/ft-migration/output/.gitkeep
**/gstech-backend/**/ft-migration/src/assets/*test*.json