<html lang="en">
  <body>
    <p>Hello {{firstName}} {{lastName}},</p>
    <p>Your withdrawal request in the amount of ${{amount}} has been processed.</p>
    <p>You may pick it up at Bally's AC Casino Resort, 1900 Pacific Ave, Atlantic City.</p>
    <p>It will be available for pick up for 7 days.</p>
    <p>Please proceed to the Main Cashier (casino cage) and approach the far left-hand window.</p>
    <p>Please tell the cashier or supervisor that your online gaming account is on "{{appDomain}}" and you are looking to pick up a withdrawal in the amount of ${{amount}} and that the unique phrase is "{{identifier}}"</p>
    <p>Please come prepared to show a valid government issued photo ID and be asked to provide your SSN verbally.</p>
    <p>Please bring this email with you as it will help our staff assist you with your withdrawal.</p>
  </body>
</html>
