<html lang="en">
  <body>
    <p>Dear customer,</p>
    <p>Your cheque withdrawal request of ${{amount}} has been rejected.</p>
    <p>Please contact Customer Services for further assistance.</p>
  </body>
</html>