<html lang="en">
  <body>
    <p>Hi!</p>
    <p>A player has self excluded. Their information can be found here: {{punterBackofficeUrl}}.</p>
    <p>Thanks and have a good day!</p>
    <p>PD: This is an automated email, so please don't answer to it.</p>
  </body>
</html>
