<html lang="en">
  <body>
    <p>Dear customer,</p>
    <p>Your cool-off period just ended. You should be able to interact with the page again.</p>
    <p>Please contact Customer Services for further assistance.</p>
  </body>
</html>