<html lang="en">
  <body>
    <p>Dear customer,</p>
    <p>You've requested to start a cool-off period until {{coolOffEnd}}.</p>
    <p>During that time, you won't be able to place bets, deposit money nor make any changes to your account. You can still withdraw your funds.</p>
    <p>Please contact Customer Services for further assistance.</p>
  </body>
</html>