<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <mdc/>
                <message/>
                <arguments/>
                <stackTrace/>
                <stackHash/>
            </providers>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>target/test-output.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="NONE">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="file"/>
    </root>

    <!-- Logging for Application -->
    <logger name="net.flipsports.gmx.streaming" level="INFO"/>
    <logger name="org.apache.flink.runtime.checkpoint.CheckpointCoordinator" level="NONE" />
    <logger name="org.testcontainers.utility.ResourceReaper" level="NONE"/>


</configuration>